/* VARIABLLES */

:root {
  --navcolor: #5a5a5a;
  --bgColor: #cecece;
  --bgText: #bebebe;
  --linkColor: #f5f5f5;
}

/* COMMON CSS */


body {
  background-color: var(--bgColor) !important;
}

.text{
  font-family: Verdana, sans-serif;
  text-align: center;
  padding: 15px 10px;
}

#homecarousel .carousel-item{
  max-height: 45rem;
}

#homecarousel p

.modal-content {
  background-color: var(--bgColor);

}

.card{
  background-color: var(--bgColor);
  border-style: none;
}

.card-img-top {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  margin: auto;
  object-fit: cover;
}

/* NAVBAR*/
.navbar {
  position: sticky;
  background-color: var(--navcolor);
}
.nav {
  text-align: center;
}

.nav-item {
  justify-content: center;
}

.navbar ul{
  padding: 10px;
  margin-left: 10px;

  list-style: none;
}

.navbar li {
  padding: 0px;
  text-transform: uppercase;
  list-style: none;
}
.navbar-nav{
  list-style: none;
}

.navbar a {
  color: var(--linkColor);
  text-decoration: none;
  font-size: 14px;
  padding-right: 15px;
}

.dropdown-menu.show {
  background-color: var(--navcolor);
}

/* HOME PAGE */

#homeMainText {
  background: linear-gradient(to bottom, rgb(150, 150, 150), rgba(206, 206, 206, 1));
  margin: auto;
  min-height: 33rem;
  text-align: center;
  padding: 12rem 0;
}

#homeMainText p {
  width: 70%;
  margin: auto;
  text-align: justify;
  padding: 3rem;
}


#homeCards .card-text{
  min-height: 6.5rem;

}

#homeCards .card-title {
  text-transform: uppercase;
  font-size: 1.5rem;

}

/* PORTFOLIO PORTFOLIO-SIDEBAR */
#content {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

@media only screen and (max-width: 700px) {

  .sidebar {
    width: 100vw
  }

  .wrapper {
    flex-flow: wrap;
  }

}

@media only screen and (min-width: 700px) {
  .sidebar.col-lg-2.col-md-2.col-sm-12 {
    flex-wrap: wrap;
  }
}

.gallery .w-100:hover{
  filter:opacity(70%)
}

/* CONTACT PAGE */
.contactform{
  font-family: Verdana, sans-serif;
  background-color: var(--bgText);
  padding: 15px 10px;
  border-style: double;
  border-radius: 10px;
  margin:30px auto;
  width: 50%;
}

.cf-group{
  padding: 5px 10px;
}

.contactform label{
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.button{
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
}

/* CV */


/* Process Carousel */


#carouselprocess {
  max-height: 600px;
  max-width: 500px;
}

.carousel-inner.car-process {
  max-height: 600px;
  max-width: 500px;
}

.flex-container {
  display: flex;
  max-height: 500px;
}

.flex-container img {
  /* max-width:fit-content; */
}

