/* main css file
p, h1, h2, h3, ul {
  font-family: Verdana, sans-serif;  
  text-align: center;
  text-size-adjust: 20px;
}
/*.portart{
  opacity: .5;
}*/
body {
  background-color: gray;
}
#nav-bar{
  background-color: black;
  color:#999;
}
#nav-bar ul{
  padding: 20px;
  list-style: none;
}
#nav-bar li{
  display: inline;
  text-transform: uppercase;
}
#nav-bar a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
}
.text {
  display: block;
  text-align: center;
  color: black;
  width: 50%;
  margin: 30px auto;
  padding: 15px 10px 15px 10px;
  border-radius: 10px;
  border-style: double;
  background-color: darkgrey;
}
.FGD{
  vertical-align: middle;
  text-align: center;
  padding: 0px 10px 30px 10px;
  margin-left: auto;
  margin-right: auto;
}
.FGD img{
  border-style: solid;
  border-color: 3px black;
}
#FantasyGrowth{
  display: block;
  text-align: center;
  margin: auto;
}
#FantasyGrowth img{
  border-style: solid;
  border-color: 8px black;
  border-
}
#FGlist, li{
  list-style: none;
  display: inline;
}
#portlinks{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-style: double;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
}
.Inspopg{
  text-align: center;
}
.contactform{
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 20px;
  margin:0 auto;
  width: 700px;
  height: 500px;
  border-radius: 7px;
}
.cf-group{
  padding: 20px 15px;
}
.contactform label{
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}
.button{
  border: none;
  padding 20px 30px;
  margin-left: 40px;
}
#CV{
  background-color: darkgrey;
  font-family: Verdana, sans-serif;
  padding: 20px 10px 70px 35px;
  border-style: double;
  border-radius: 5px;
  width:75%
  
}
#CV p{
  font-family: Verdana, sans-serif;
  font-weight: bold;
}
#CV li{
  display: block;
  padding: 5px;
}
  

